<div class="view">
  <div class="header">
    <span>Jogo Da Velha</span>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="gitHub">
      <a href="https://github.com/arthur-mp/Jogo-Da-Velha" class="linkGit">
        <img src="../assets/icons/git.svg" alt="angular" class="imgGit" />
        <span>GitHub</span>
      </a>
    </div>
    <div class="info">
      <span>Developed by Arthur Pimentel</span>
    </div>
    <div></div>
  </div>
</div>
