@import '../../../assets/scss/variables.scss';

.log{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

mat-card, mat-form-field{
    width: 30rem;
}

mat-card-title{
    font: 400 24px/32px Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
}

mat-divider{
    background-color: white;
}

mat-card-content{
    font: 20px/60px Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
}

mat-card-actions{
    display: flex;
    justify-content: end;
}